<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>이케이투어 운영자</title>
    <style>
        .col { margin: auto 0; }
    </style>
</head>

<body style="background-color: #e5e5e5;">

<!-- 헤더 -->
<header class="container">
    <div class="row row-cols-auto">
        <div class="col"><h3>이케이 하나관광</h3></div>
        <div class="col"><span>admin</span> 님 안녕하세요!</div>
        <div class="col"><input type="button" value="로그아웃" /></div>
    </div>
</header>

<div class="container">
    <div class="row row-cols-auto">

        <!-- 사이드 메뉴 -->
        <nav class="col-4" style="width: 300px;">
            <ul class="list-group">
                <li class="list-group-item"><a href="#">견적요청내역</a></li>
                <li class="list-group-item"><a href="#">관리자 설정</a></li>
                </li>
            </ul>
        </nav>

        <!-- 컨텐츠 -->
        <article class="col-8" style="background-color: white;">
            contents
        </article>

    </div>
</div>

</body>
</html>